<div class="container-add-user">

    <div class="header-close">
        <span>Leute hinzufügen</span>
        <mat-icon [mat-dialog-close]="">close</mat-icon>
    </div>

    <div class="channel-name">
        <span># {{ channel.chanName }}</span>
    </div>

    <div class="container-input">
        <input [(ngModel)]="searchInput" type="text">
    </div>

    <div class="search-results">
        <div [mat-dialog-close]="" (click)="selectUser(user)" *ngFor="let user of listUsers"
            class="container-user-search-result">
            <img *ngIf="searchFunction(user)" [src]="user.avatarURL" alt="">
            <span *ngIf="searchFunction(user)">{{ user.name }}</span>

        </div>


    </div>



    <!--     <div class=" container-button">
        <button>Hinzufügen</button>
    </div>
 -->

</div>