<div class="wrapper-channel-answers">

    <div class="container-channel" *ngIf="dataLoaded">


        <h4>Channel</h4>
        <p>id: {{ channel.id }}</p>
        <p>name: {{ channel.chanName }}</p>
        <p>description: {{ channel.description }}</p>
        <p>creator: {{ channel.creator.name }} / {{ channel.creator.id }} </p>
        <h4>users:</h4>
        <p *ngFor="let user of channel.users"> {{ user.name }}</p>
        <h4>Posts:</h4>



        <!--Code für Posts als Subcollection-->

        <div class="container-posts">
            <div class="container-single-post" *ngFor="let post of listPosts">
                <div class="container-user-img">
                    <img [src]="post.user.avatarURL ? '../../../'+post.user.avatarURL : post.user.photoURL"
                        alt="img user">
                </div>

                <div class="container-post">
                    <div class="name-and-time">
                        <b>{{ post.user.name }}</b>
                        <span>{{ post.time }} Uhr</span>
                    </div>

                    <div class="post-content">
                        {{ post.content }}
                    </div>

                    <div class="answers">
                        <span>{{ post.answers.length }} Antworten</span>
                        <span *ngIf="post.answers.length > 0">Letzte Antwort {{ post.answers[post.answers.length -
                            1].time
                            }}</span>
                    </div>

                    <div class="reactions">

                    </div>
                </div>
            </div>
        </div>




        <!--Code für posts als Objekt in der channel-collection-->

        <!--         <div class="container-posts">
            <div class="container-single-post" *ngFor="let post of channel.posts">
                <div class="container-user-img">
                    <img [src]="post.user.avatarURL ? '../../../'+post.user.avatarURL : post.user.photoURL"
                        alt="img user">
                </div>

                <div class="container-post">
                    <div class="name-and-time">
                        <b>{{ post.user.name }}</b>
                        <span>{{ post.time }} Uhr</span>
                    </div>

                    <div class="post-content">
                        {{ post.content }}
                    </div>

                    <div class="answers">
                        <span>{{ post.answers.length }} Antworten</span>
                        <span *ngIf="post.answers.length > 0">Letzte Antwort {{ post.answers[post.answers.length -
                            1].time
                            }}</span>
                    </div>

                    <div class="reactions">

                    </div>
                </div>
            </div>
        </div>
 -->

        <div class="container-new-message">
            <textarea [(ngModel)]="newPost.content" name="" id="" cols="30" rows="auto"
                [placeholder]="'Nachricht an #' + channel.chanName"></textarea>

            <div class="container-icons">
                <div class="icons-left">
                    <mat-icon matTooltip="add file">add</mat-icon>
                    <div class="vertical-line"></div>
                    <mat-icon matTooltip="add emoji">add_reaction</mat-icon>
                    <mat-icon>alternate_email</mat-icon>
                </div>

                <div class="icons-right">
                    <mat-icon (click)="createPost(channel)" matTooltip="send">send</mat-icon>
                </div>
            </div>
        </div>
    </div>




    <div *ngIf="!showAnswers && dataLoaded && channel.posts[postDetail]" class="container-answers">
        <div class="answers-header">
            <div class="answers-header-left-side">
                <span>Thread</span>
                <span># {{ channel.chanName }}</span>
            </div>

            <mat-icon (click)="hideAnswers()">close</mat-icon>
        </div>


        <div class="original-post">

            <div class="container-user-img">
                <img [src]="channel.posts[postDetail].user.avatarURL ? '../../../'+channel.posts[postDetail].user.avatarURL : channel.posts[postDetail].user.photoURL"
                    alt="img user">
            </div>

            <div class="container-post">
                <div class="name-and-time">
                    <b>{{ channel.posts[postDetail].user.name }}</b>
                    <span>{{ channel.posts[postDetail].time }} Uhr</span>
                </div>

                <div class="post-content">
                    {{ channel.posts[postDetail].content }}
                </div>

                <div class="reactions">

                </div>

            </div>

        </div>


        <div class="line-answers">
            <div class="amount-answers">
                {{ channel.posts[postDetail].answers.length }} Antwort<span
                    *ngIf="channel.posts[postDetail].answers.length == 0 || channel.posts[postDetail].answers.length > 1">en</span>
            </div>
            <div class="line"></div>

        </div>


        <div *ngFor="let answer of channel.posts[postDetail].answers" class="single-answers">

            <div class="container-user-img">
                <img [src]="answer.user.avatarURL ? '../../../'+answer.user.avatarURL : answer.user.photoURL"
                    alt="img user">
            </div>

            <div class="container-post">
                <div class="name-and-time">
                    <b>{{ answer.user.name }}</b>
                    <span>{{ answer.time }} Uhr</span>
                </div>

                <div class="post-content">
                    {{ answer.content }}
                </div>

                <div class="reactions">

                </div>

            </div>

        </div>



        <div class="container-new-message">
            <textarea [(ngModel)]="newAnswer.content" name="" id="" cols="30" rows="auto"
                [placeholder]="'Antworten...'"></textarea>

            <div class="container-icons">
                <div class="icons-left">
                    <mat-icon matTooltip="add file">add</mat-icon>
                    <div class="vertical-line"></div>
                    <mat-icon matTooltip="add emoji">add_reaction</mat-icon>
                    <mat-icon>alternate_email</mat-icon>
                </div>

                <div class="icons-right">
                    <mat-icon (click)="createAnswer(channel.posts[postDetail], channel.id)"
                        matTooltip="send">send</mat-icon>
                </div>
            </div>
        </div>







    </div>



</div>