// global styles imports
@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";


.wrapper-channel-answers {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;


    .container-answers {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding: 16px;

        .answers-header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .answers-header-left-side {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
            }

            mat-icon {
                cursor: pointer;
                animation-duration: 120ms;

                &:hover {
                    animation-duration: 120ms;
                    scale: 1.15;
                }
            }
        }


        .original-post {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            box-sizing: border-box;
            padding: 16px 0;
            gap: 24px;

            .container-user-img {
                width: 10%;
                min-width: 32px;

                img {
                    width: 90%;
                    border-radius: 100%;
                }
            }

            .container-post {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 8px;


                .name-and-time {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 16px;
                }


                .post-content {
                    padding: 12px 8px;
                    background-color: #ECEEFE;
                    border-radius: 0 30px 30px 30px;

                }
            }
        }

        .line-answers {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5%;

            .amount-answers {
                //width: 20%;
                word-break: keep-all;
                white-space: nowrap;
                color: #ADB0D9;
            }

            .line {
                width: -webkit-fill-available;
                height: 0px;
                border: 0.5px solid #ADB0D9;

            }
        }

        .single-answers {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            box-sizing: border-box;
            padding: 16px 0;
            gap: 24px;

            .container-user-img {
                width: 10%;
                min-width: 32px;

                img {
                    width: 90%;
                    border-radius: 100%;
                }
            }

            .container-post {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 8px;


                .name-and-time {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 16px;
                }


                .post-content {
                    padding: 12px 8px;
                    background-color: #ECEEFE;
                    border-radius: 0 30px 30px 30px;

                }
            }
        }



    }
}


.container-channel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    border-radius: 20px;
    padding: 16px;

    .container-channel-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 8px 0;
        box-sizing: border-box;

        .name-header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
            border-radius: 20px;
            padding: 4px;
            cursor: pointer;
            animation-duration: 120ms;

            &:hover {
                animation-duration: 120ms;
                background-color: #ECEEFE;

                span {
                    animation-duration: 120ms;
                    color: #444DF2;
                }

                mat-icon {
                    color: #444DF2;
                }
            }

            span {
                font-size: 18px;
                font-weight: bold;
                white-space: nowrap;
            }
        }

        .header-member {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 8px;

            .img-member {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: 20px;
                animation-duration: 120ms;
                cursor: pointer;
                padding: 4px 8px 4px 24px;

                &:hover {
                    background-color: #ECEEFE;
                    animation-duration: 120ms;

                    span {
                        color: #444DF2;
                    }

                }

                img {
                    width: 32px;
                    border-radius: 100%;
                    border: 2px solid white;
                    margin-left: -16px;
                }

                .amount-user {
                    margin-left: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                    }
                }

            }




            .add-member {
                display: flex;
                align-items: center;
                justify-content: center;
                animation-duration: 120ms;
                background-color: #ECEEFE;
                padding: 6px;
                border-radius: 100%;
                cursor: pointer;

                &:hover {
                    animation-duration: 120ms;

                    mat-icon {
                        animation-duration: 120ms;
                        scale: 1.1;
                    }
                }
            }


        }


    }




}


.container-new-message {
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;


    textarea {
        border: none;
        background-color: unset;
        resize: none;
        width: 100%;

        &:focus {
            border: none;
            outline: none;
        }
    }


    .container-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;


        .icons-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;

            .vertical-line {
                height: 24px;
                width: 0;
                border: 0.5px solid #ADB0D9;
            }

            mat-icon {
                color: grey;
                cursor: pointer;

                &:hover {
                    color: #444DF2;
                    scale: 1.05;
                }

            }
        }

        .icons-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;

            mat-icon {
                color: #444DF2;
                cursor: pointer;

                &:hover {
                    color: #444df27b;
                    scale: 1.05;
                }
            }
        }
    }

}

.container-posts {
    max-height: 50vh;
    overflow-y: scroll;

}


.container-single-post {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 0;
    gap: 24px;

    .container-user-img {
        width: 10%;
        min-width: 32px;

        img {
            width: 90%;
            border-radius: 100%;
        }
    }

    .container-post {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;


        .name-and-time {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
        }


        .post-content {
            padding: 12px 8px;
            background-color: #ECEEFE;
            border-radius: 0 30px 30px 30px;

        }

        .answers {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            cursor: pointer;
            animation-duration: 120ms;
            color: #535AF1;

            &:hover {
                animation-duration: 120ms;
                font-weight: bold;
            }

        }

    }

}



.cursor-no {
    cursor: not-allowed !important;
}

.container-delete {
    mat-icon {
        color: rgba(255, 0, 0, 0.403);
        cursor: pointer;
        animation-duration: 120ms;

        &:hover {
            scale: 1.1;
            animation-duration: 120ms;
            color: red;
        }


    }
}


//Code für Post des eigenen Users


.container-single-post-own-post {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 0;
    gap: 24px;

    .container-user-img {
        width: 10%;
        min-width: 32px;

        img {
            width: 90%;
            border-radius: 100%;
        }
    }

    .container-post {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 8px;


        .name-and-time {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
        }


        .post-content {
            padding: 12px 8px;
            background-color: #797EF3;
            border-radius: 30px 0 30px 30px;
            color: white;

        }

        .answers {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            cursor: pointer;
            animation-duration: 120ms;
            color: #535AF1;

            &:hover {
                animation-duration: 120ms;
                font-weight: bold;
            }

        }

    }

}



//Code für Answer des eigenen Users

.container-answers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 16px;

    .answers-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .answers-header-left-side {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 8px;
        }

        mat-icon {
            cursor: pointer;
            animation-duration: 120ms;

            &:hover {
                animation-duration: 120ms;
                scale: 1.15;
            }
        }
    }


    .original-post {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        box-sizing: border-box;
        padding: 16px 0;
        gap: 24px;

        .container-user-img {
            width: 10%;
            min-width: 32px;

            img {
                width: 90%;
                border-radius: 100%;
            }
        }

        .container-post {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8px;


            .name-and-time {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 16px;
            }


            .post-content {
                padding: 12px 8px;
                background-color: #ECEEFE;
                border-radius: 0 30px 30px 30px;

            }
        }
    }

    .line-answers {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5%;

        .amount-answers {
            //width: 20%;
            word-break: keep-all;
            white-space: nowrap;
            color: #ADB0D9;
        }

        .line {
            width: -webkit-fill-available;
            height: 0px;
            border: 0.5px solid #ADB0D9;

        }
    }

    .single-answers-own-answer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        box-sizing: border-box;
        padding: 16px 0;
        gap: 24px;

        .container-user-img {
            width: 10%;
            min-width: 32px;

            img {
                width: 90%;
                border-radius: 100%;
            }
        }

        .container-post {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            gap: 8px;


            .name-and-time {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: flex-start;
                gap: 16px;
            }


            .post-content {
                padding: 12px 8px;
                background-color: #797EF3;
                border-radius: 30px 0 30px 30px;
                color: white;

            }
        }
    }



}