<div class="wrapper-channel-answers">

    <div class="container-channel" *ngIf="dataLoaded">

        <div class="container-channel-header">
            <div class="name-header">
                <span># {{ channel.chanName }}</span>
                <mat-icon>expand_more</mat-icon>
            </div>



            <div class="header-member">


                <div (click)="openDialogShowUsers(channel)" class="img-member">
                    <img *ngFor="let user of listUsersInChannel" [src]="user.photoURL ? user.photoURL : user.avatarURL "
                        alt="user images">

                    <div class="amount-user">
                        <span>{{ listUsersInChannel.length }}</span>
                    </div>
                </div>

                <div class="add-member">
                    <mat-icon (click)="openDialogAddUserToChannel(channel)">person_add</mat-icon>
                </div>


            </div>


        </div>


        <div class="container-posts">
            <!--             <div class="container-single-post" *ngFor="let post of listPosts; let i = index">
 -->
            <div [ngClass]="post.user.authUID == this.storedUserAuthUID ? 'container-single-post-own-post' : 'container-single-post'"
                *ngFor="let post of listPosts; let i = index">
                <div class="container-user-img">
                    <img [src]="post.user.avatarURL ? '../../../'+post.user.avatarURL : post.user.photoURL"
                        alt="img user">
                </div>

                <div class="container-post">
                    <div class="name-and-time">
                        <b>{{ post.user.name }}</b>
                        <span>{{ post.time }} Uhr</span>
                    </div>

                    <div class="post-content">
                        {{ post.content }}
                    </div>

                    <div (click)="openAnswers(channel.id , post, i)" class="answers">
                        <span>{{ post.answers }} Antwort<span
                                *ngIf="post.answers == 0 || post.answers > 1">en</span></span>
                        <!--Lösung für letzte Antwort noch finden-->
                        <span *ngIf="post.answers.length > 0">Letzte Antwort {{ post.answers[post.answers.length -
                            1].time
                            }}</span>
                    </div>

                    <div class="reactions">

                    </div>
                </div>

                <!--Testcode für Post löschen-->
                <div *ngIf="post.user.id == this.user.id" class="container-delete">
                    <mat-icon (click)="openDialogDeletePost(post)">delete</mat-icon>
                </div>

            </div>
        </div>


        <div class="container-new-message">
            <textarea maxlength="160" [(ngModel)]="newPost.content" name="" id="" cols="30" rows="auto"
                [placeholder]="'Nachricht an #' + channel.chanName"></textarea>

            <div class="container-icons">
                <div class="icons-left">
                    <mat-icon matTooltip="add file">add</mat-icon>
                    <div class="vertical-line"></div>
                    <mat-icon matTooltip="add emoji">add_reaction</mat-icon>
                    <mat-icon>alternate_email</mat-icon>
                </div>

                <div class="icons-right">
                    <mat-icon (click)="createPost(channel)" matTooltip="send">send</mat-icon>
                </div>
            </div>
        </div>
    </div>




    <div *ngIf="showAnswers && dataLoaded && listPosts[postDetail]" class="container-answers">
        <div class="answers-header">
            <div class="answers-header-left-side">
                <span>Thread</span>
                <span># {{ channel.chanName }}</span>
            </div>

            <mat-icon (click)="hideAnswers()">close</mat-icon>
        </div>


        <div class="original-post">

            <div class="container-user-img">
                <img [src]="listPosts[postDetail].user.avatarURL ? '../../../'+listPosts[postDetail].user.avatarURL : listPosts[listPosts].user.photoURL"
                    alt="img user">
            </div>

            <div class="container-post">
                <div class="name-and-time">
                    <b>{{ listPosts[postDetail].user.name }}</b>
                    <span>{{ listPosts[postDetail].time }} Uhr</span>
                </div>

                <div class="post-content">
                    {{ listPosts[postDetail].content }}
                </div>

                <div class="reactions">

                </div>

            </div>

        </div>


        <!--Test mit Answers als Subcollection-->

        <div class="line-answers">
            <div class="amount-answers">
                {{ listAnswers.length }} Antwort<span
                    *ngIf="listAnswers.length == 0 || listAnswers.length > 1">en</span>
            </div>
            <div class="line"></div>

        </div>


        <div *ngFor="let answer of listAnswers" class="single-answers">

            <div class="container-user-img">
                <img [src]="answer.user.avatarURL ? '../../../'+answer.user.avatarURL : answer.user.photoURL"
                    alt="img user">
            </div>

            <div class="container-post">
                <div class="name-and-time">
                    <b>{{ answer.user.name }}</b>
                    <span>{{ answer.time }} Uhr</span>
                </div>

                <div class="post-content">
                    {{ answer.content }}
                </div>

                <div class="reactions">

                </div>

            </div>

            <div *ngIf="answer.user.id == this.user.id" class="container-delete">
                <mat-icon (click)="deleteAnswer(answer)">delete</mat-icon>
            </div>


        </div>


        <div class="container-new-message">
            <textarea maxlength="160" [(ngModel)]="newAnswer.content" name="" id="" cols="30" rows="auto"
                [placeholder]="'Antworten...'"></textarea>

            <div class="container-icons">
                <div class="icons-left">
                    <mat-icon matTooltip="add file">add</mat-icon>
                    <div class="vertical-line"></div>
                    <mat-icon matTooltip="add emoji">add_reaction</mat-icon>
                    <mat-icon>alternate_email</mat-icon>
                </div>

                <div class="icons-right">
                    <mat-icon (click)="createAnswer(channel.id, listPosts[postDetail])"
                        [matTooltip]="newAnswer.content ? 'send' : 'Zuerst Antwort eintippen'"
                        [ngClass]="newAnswer.content ? '' : 'cursor-no'">send</mat-icon>
                </div>
            </div>
        </div>







    </div>



</div>