<div class="container-profile">

    <div class="header-and-close">
        <span>Profil</span>
        <mat-icon [mat-dialog-close]="">close</mat-icon>
    </div>

    <img [src]="user.avatarURL" alt="">

    <div class="name-and-edit">
        <span class="name">{{ user.name }}</span>
        <span *ngIf="this.user.authUID == this.storedUserAuthUID" (click)="openDialogEditUser(user)" class="btn-edit">Bearbeiten</span>
    </div>

    <div class="status">
        <mat-icon *ngIf="user.status" class="online">circle</mat-icon>
        <mat-icon *ngIf="!user.status" class="offline">motion_photos_off</mat-icon>
        <span *ngIf="user.status" class="online">Online</span>
        <span *ngIf="!user.status" class="offline">Offline</span>
    </div>


    <div class="container-email">
        <div class="icon-mail">
            <mat-icon>mail</mat-icon>
        </div>

        <div class="text-mail">
            <span>E-Mail-Adresse</span>
            <span class="link-mail-adresse"> {{ user.email }}</span>
        </div>


    </div>






</div>