// global styles imports
@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/fonts.scss";


.container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 32px;
    width: 360px;

    img {
        border-radius: 100%;
    }

    .header-and-close {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            @include Nunito(700, 24px, 32.74px, $black);
        }

        mat-icon {
            cursor: pointer;
            animation-duration: 120ms;

            &:hover {
                scale: 1.2;
            }
        }

    }

    .name-and-edit {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
            @include Nunito(700, 32px, 43.65px, $black);
        }

        .btn-edit {
            @include Nunito(600, 18px, 24.55px, $purple-3);
            animation-duration: 120ms;
            color: #444df27b;
            cursor: pointer;

            &:hover {
                animation-duration: 120ms;
                color: #444df2dd;
                scale: 1.05;
                font-weight: bold;
            }
        }
    }

    .status {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        span {
            @include Nunito(400, 20px, 27.28px, lightgreen);
        }
        .online {
            color: lightgreen;
        }

        .offline {
            color: red;
        }
    }

    .container-email {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;

        .icon-mail {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .text-mail {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 12px;
            @include Nunito(700, 20px, 27.28px, $black);

            .link-mail-adresse {
                color: #444df27b;
                cursor: pointer;
                animation-duration: 120ms;

                &:hover {
                    animation-duration: 120ms;
                    color: #444df2dd;
                    scale: 1.05;
                }



            }


        }




    }



}