<div class="forgot-password-wrapper">
    <header>
      <div class="logo">
        <img src="../../../assets/img/da_bubble_logo.png" alt="logo" />
        <span>DABubble</span>
      </div>
    </header>
    <div class="content">
      <div class="forgot-password-box">
        <div class="forgot-password-top">
            <a routerLink="/login"><img src="../../../assets/img/back.png" alt="back-icon" /></a>
          <h1>Passwort zurücksetzen</h1>
          <span
            >Bitte geben Sie Ihre E-Mail-Adresse ein.</span
          >
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <div class="input-wrapper">
            <input
              class="input-field"
              type="email"
              formControlName="email"
              placeholder="beispielname@email.com"
              [(ngModel)]="email"
              name="email"
            />
            <img src="../../../assets/img/email.png" alt="mail-icon" />
            <span
            *ngIf="
            resetPasswordForm.get('email')?.invalid  &&
            (resetPasswordForm.get('email')?.dirty ||
            resetPasswordForm.get('email')?.touched)"
            class="error-style">
                *Diese E-Mail-Adresse ist leider ungültig.
            </span>
          </div>
          <div class="info-text">
            <span>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>
          </div>
          <div class="button-wrapper">
            <button class="button" type=" submit"[disabled]="!resetPasswordForm.valid">E-Mail senden</button>
          </div>
        </form>
        
      </div>
    </div>
    <footer>
      <a routerLink="/imprint">Impressum</a>
      <a routerLink="/privacy-policy">Datenschutz</a>
    </footer>
  </div>
  