// global styles imports
@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";

.container-header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .img-logo {
        width: 200px;
    }


    .container-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 16px;
        background-color: white;
        border-radius: 20px;
        width: 300px;
        max-width: 30%;

        input {
            outline: none;
            border: none;
            width: 80%;
            @include Nunito(400, 24px, 32.74px, $text-gray);
        }

        mat-icon {
            max-width: 20%;
        }
    }


    .container-user {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;


        span {
            @include Nunito(700, 32px, 43.65px, $black);
        }

        img {
            border-radius: 100%;
            width: 64px;
        }


        mat-icon {
            cursor: pointer;
        }
    }


    .container-menu {
        position: absolute;
        top: 16px;
        right: 16px;
    }






}