<div class="container-header">
  <img class="img-logo" src="../../../assets/img/da_bubble_reset_password_logo.png" alt="Logo da-bubble">

  <div class="container-search">
    <input type="text" placeholder="Suchen" [(ngModel)]="this.searchService.searchTextfromHeader"
      (ngModelChange)="this.searchService.search('header')">
    <div *ngIf="this.searchService.selectedUsers.length > 0" class="selecetedUserInputfield">
      <span *ngFor="let user of this.searchService.selectedUsers">{{ user.name }}</span>
      <div class="close-btn"><img src="assets/img/close_btn.png" /></div>
    </div>

    <div *ngIf="this.searchService.searchActivefromHeader" class="search-result-recipients">
      <!-- Hier werden die Kanalergebnisse gerendert -->
      <div *ngIf="this.searchService.channelResults.length > 0">
        <h2>Kanal Ergebnisse</h2>
        <ul>
          <li *ngFor="let channel of this.searchService.channelResults">
            {{ channel.chanName || channel.description || "Unbekannter Kanal" }}
          </li>
        </ul>
      </div>

      <!-- Hier werden die Benutzerergebnisse gerendert -->
      <div *ngIf="this.searchService.userResults.length > 0">
        <h2>Benutzer Ergebnisse</h2>
        <ul>
          <li *ngFor="let user of this.searchService.userResults">
            {{ user.name || "Unbekannter Benutzer" }}
          </li>
        </ul>
      </div>

      <!-- Wenn keine Suchergebnisse vorhanden sind, eine entsprechende Meldung anzeigen -->
      <div *ngIf="
                this.searchService.channelResults.length === 0 &&
                this.searchService.userResults.length === 0 &&
                this.searchService.searchTextfromHeader.trim() !== ''
              ">
        <p>Keine Ergebnisse gefunden.</p>
      </div>
    </div>
    <mat-icon>search</mat-icon>
  </div>


  <div class="container-user">
    <span *ngIf="this.user">{{ user.name }}</span>
    <img *ngIf="this.user" [src]="user.avatarURL" alt="user-avatar">
    <mat-icon [matMenuTriggerFor]="menuHeader">expand_more</mat-icon>
  </div>


  <div class="container-menu">
    <mat-menu #menuHeader="matMenu">
      <button mat-menu-item (click)="openDialogProfile()">
        <mat-icon color="primary">person</mat-icon>
        See profile
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon color="warn">logout</mat-icon>
        Logout
      </button>
    </mat-menu>

  </div>







</div>