<div class="start-conversation-wrapper">
  <div class="start-conversation-top">
    <div class=" chat-header">
      <img [src]="'assets/img/character_1.png'" alt="user avatar" />
      <h1>Noah Braun</h1>
    </div>
  </div>

  <div class="start-conversation-messages">
    <!-- Iteriere über die Teilnehmer und zeige ihre Informationen an -->


 <div class="chat-message" *ngFor="let message of listMessages">
<div class="date-wrapper"><div class="purple-line"></div><p>{{ message.date }}</p><div class="purple-line"></div></div>
    <div class="user-wrapper">
      <img [src]="message.user.avatarURL" alt="user avatar" />
      <div class="user-info">
      <h3>{{ message.user.name }}</h3>  <!--isYou? ausgeblendet -->
      <p>{{ message.time}} </p>
    </div>
      </div>
    <div class="reversed-text-wrapper">    
      <p>{{ message.text }}</p>
      <div class="message-bottom"><span>2 Antworten</span><h4>Letzte Antwort 14:35</h4></div><!--isYou? ausgeblendet -->
    </div>
  </div>


  




  <div class="conversation-with-user">
    <div class="chat-bottom">
      <img [src]="'assets/img/character_1.png'" alt="user avatar" />
      <h1>Noah Braun</h1>
    </div>
    <p>Diese Unterhaltung findet nur zwischen dir und Noah Braun statt. </p>
    <div class="start-conversation-bottom">
      <div class="container-new-message">
        <textarea [(ngModel)]="messageText"></textarea>

        <div class="container-icons">
          <div class="icons-left">
            <mat-icon matTooltip="add file">add</mat-icon>
            <div class="vertical-line"></div>
            <mat-icon matTooltip="add emoji">add_reaction</mat-icon>
            <mat-icon>alternate_email</mat-icon>
          </div>

          <div class="icons-right" (click)="addMessage(chatId)"> <!--(click)="onSendMessage()"-->
            <mat-icon matTooltip="send">send</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>