// global styles imports
@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";

.start-conversation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  max-width: 50vw;

  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 2 10px 0 rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-bottom: 20px;
  overflow-y: hidden;
}

.online-status {
  left: 80px;
  top: 64px;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid $white;
  background-color: $online-green;
  border-radius: 50%;
  z-index: 5;
  }
  
  .offline-status {
      background-color: $online-red;
  }

.chat-message {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: fit-content;
  margin-bottom: 32px;

  .message-icons{
    position: absolute;
    right: 60px;
    top: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    width: 100%;
    margin-top: 16px;

    mat-icon {
      color: #444df2;
      cursor: pointer;

      &:hover {
        color: #444df27b;
        scale: 1.05;
      }
    }
  }
}

.chat-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 200px;
  background-color: $bg-color;
  padding: 10px 45px 10px 45px;
  gap: 30px;

  p {
    @include Nunito(400, 18px, 24.55px, $text-gray);
  }
  
  h3 {
    @include Nunito(700, 24px, 32.74px, $black);
  }
  img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    object-fit: cover;
    gap: 10px;
  }

}

.reverse-chat-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 66%;
  height: 200px;
  background-color: $white;
  padding: 10px 45px 10px 45px;
  gap: 30px;
}

.user-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  margin-bottom: 20px;
  padding: 0 45px 0 45px;
  box-sizing: border-box;

  p {
    @include Nunito(400, 18px, 24.55px, $text-gray);
  }
  
  h3 {
    @include Nunito(700, 24px, 32.74px, $black);
  }
  img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    object-fit: cover;
    gap: 10px;
  }
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 100%;

  .message-options {
    display: none;
    border-radius: 30px 30px 30px 0px;
    border: solid 1px $light-purple-lines;
    margin-bottom: 8px;
    background-color: $white;
   }

   &:hover {
    transition: all 0.225s ease-in-out;
    .message-options {
      display: flex;
    }

    mat-icon {
      color: $black;
      cursor: pointer;

      &:hover {
        transition: all 0.225s ease-in-out;
        background-color: $bg-color;
        border-radius: 100%;
        scale: 1.05;
      }
    }
   }
}

.date-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid $light-purple-lines;
    padding: 5px 15px 5px 15px;
    gap: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
    @include Nunito(400, 18px, 24.55px, $text-gray);
    text-align: center;
  }
}

.purple-line {
  width: 100%;
  height: 1px;
  background-color: $light-purple-lines;
}

.edit-text-wrapper {
  position: absolute;
  left: 50px;
  bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  height: 180px;
  gap: 16px;
  box-sizing: border-box;
  flex-direction: column;
  text-align: right;
  background-color: $white;
  border-radius: 20px;
  border: 1px solid $light-purple-lines;
  padding: 20px;

  p {
    @include Nunito(400, 18px, 24.55px, $text-gray);
  }

}

.reversed-text-wrapper {
  position: absolute;
  left: 134px;
  bottom: -16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: fit-content;
  min-width: 240px;
  height: fit-content;
  border-radius: 0px 30px 30px 30px;
  padding: 15px;
  background-color: $bg-color;
  p {
    @include Nunito(400, 18px, 24.55px, $black);
  }
  span {
    white-space: nowrap;
    @include Nunito(400, 18px, 24.55px, $purple-3);
  }
  h4 {
    white-space: nowrap;
    @include Nunito(400, 14px, 19.1px, $text-gray);
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.edit-message {
  position: absolute;
  top: 0px;
  left: 4px;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 10px 5px;
  background-color: #fff;
  width: 92%;
  height: 75%;
  z-index: 9;
  display: flex;
  flex-direction: column;

  textarea {
    width: 100%;
    outline: none;
    border: none;
    flex-grow: 1;
    border-width: unset;
  }
}

.edit-message-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
}

.cancel-btn {
  color: $purple-3;
  border-radius: 20px;
  background-color: #fff;
  padding: 5px 12px;
  border: none;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

.save-btn {
  color: #fff;
  border-radius: 20px;
  background-color: $purple-3;
  padding: 5px 12px;
  border: none;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}

.message-bottom {
  position: absolute;
  top: 66px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 16px;
}
.conversation-with-user {
    p {
        @include Nunito(400, 20px, 27.28px, $text-gray);
    }
}

.chat-header {
  position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding: 32px 45px 32px 45px;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.08); 
    
    @include Nunito(700, 24px, 32.74px, $black);

    h1 {
        margin-left: 8px;
    }
  img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
  }
}

.chat-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

    p {
      display: flex;
        @include Nunito(400, 18px, 24.55px, $text-gray);
    }

    h1 {
        margin-left: 8px;
        @include Nunito(700, 24px, 32.74px, $black);
    }
  

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
  }
}

.participant-wrapper {
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;
  p {
    @include Nunito(400, 20px, 27.28px, $text-gray);
  }
  h4 {
    @include Nunito(400, 20px, 27.28px, $purple-3);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
  }
}


.start-conversation-top {
  width: 100%;

  h1 {
    @include Nunito(700, 24px, 32.74px, $black);
  }

  input {
    background-color: unset;
    width: 90%;
    height: 55px;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    outline: none;
    border-style: solid 1px;
    border-color: $light-purple-lines;
    @include Nunito(400, 18px, 24.55px, $text-gray);
  }
}

.user-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.start-conversation-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container-new-message {
  border: 1px solid #adb0d9;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 48vw;
  box-sizing: border-box;

  textarea {
    border: none;
    background-color: unset;
    resize: none;
    width: 100%;
    @include Nunito(400, 18px, 24.55px, $text-gray);
    &:focus {
      border: none;
      outline: none;
    }
  }

  .container-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .icons-left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 16px;

      .vertical-line {
        height: 24px;
        width: 0;
        border: 0.5px solid #adb0d9;
      }

      mat-icon {
        color: grey;
        cursor: pointer;

        &:hover {
          color: #444df2;
          scale: 1.05;
        }
      }
    }

    .icons-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 16px;

      mat-icon {
        color: #444df2;
        cursor: pointer;

        &:hover {
          color: #444df27b;
          scale: 1.05;
        }
      }
    }
  }
}
