<div class="container-home">

    <app-header></app-header>

    <mat-drawer-container class="mat-drawer-container" autosize>
        <mat-drawer #drawer class="sidenav" [mode]="drawerMode" [opened]="drawerOpened"
            (openedChange)="changeDrawerStatus($event)">

            <div class="logo-container">
                <img class="img-logo" src="../../assets/img/workspace_logo.png" alt="logo">
                <h1>Code learning</h1>
                <img routerLink="/home/start-conversation/" class="start-conversation"
                    src="../../assets/img/start-conversation.png" alt="logo">
            </div>

            <div class="container-drawer-content">

                <div class="container-channels">

                    <mat-expansion-panel [togglePosition]="'before'" class="custom-expansion-panel-channels">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3 class="header-channels">
                                    <mat-icon>workspaces</mat-icon>
                                    Channels
                                </h3>
                            </mat-panel-title>

                            <mat-icon (click)="noToggle($event); openDialogAddChannel()" class="mat-icon-add-channel"
                                matTooltip="Add channel">add</mat-icon>

                        </mat-expansion-panel-header>

                        <app-channel-list></app-channel-list>

                    </mat-expansion-panel>

                </div>


                <mat-expansion-panel [togglePosition]="'before'" class="custom-expansion-panel-direct-messages">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3 class="header-direct-messages">
                                <mat-icon>account_circle</mat-icon>
                                Direktnachrichten
                            </h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <app-pm-list></app-pm-list>

                </mat-expansion-panel>



            </div>



        </mat-drawer>

        <div class="container-sidenav-content">


            <div class="container-router">
                <router-outlet></router-outlet>
            </div>

        </div>
    </mat-drawer-container>


    
    <div class="wrapper-workspace-menu">
        <div (click)="drawer.toggle()" class="menu-icon">

            <span>Workspace-Menü
                <span *ngIf="isOpen">schließen</span>
                <span *ngIf="!isOpen">öffnen</span>
            </span>
            <mat-icon *ngIf="isOpen" mat-button>expand_less</mat-icon>
            <mat-icon *ngIf="!isOpen" mat-button>expand_more</mat-icon>

        </div>

    </div>

</div>