.mat-drawer-container {
    min-height: 600px;
}


.sidenav {
    width: 300px;
    //position: fixed;
}


.container-drawer-content {
    //height: calc(100% - 57px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-sidenav-content {
    //position: relative;
    //margin-top: 64px;


}


.active {
    background-color: rgba(0, 0, 0, 0.1);
}


.header-channels,
.header-direct-messages {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    font-size: 16px;
    margin-bottom: 0;

    mat-icon {
        height: 16px;
        width: 16px;
        font-size: 16px;
    }

}



.mat-icon-add-channel {
    cursor: copy;
    border-radius: 100%;

    &:hover {
        scale: 1.03;
        background-color: rgba(0, 0, 255, 0.139);
    }


}

