<div class="selection-wrapper">
    <img *ngIf="user.avatarURL; else defaultProfile" [src]="user.avatarURL" alt="selected_avatar"
        class="avatar-profile" />
    <ng-template #defaultProfile>
        <img class="default-profile" src="../../../assets/img/profile.png" alt="default_profile" />
    </ng-template>
    <div class="avatar-content">
        <span>Aus der Liste wählen</span>
        <div class="avatar-selection">

            <div *ngFor="let pic of listImages" class="avatar-container">
                <img class="avatar" [src]="'../../../assets/img/'+pic" alt="avatar_img" (mouseover)="selectAvatar(pic)"
                    (click)="saveAvatar(pic)" />
            </div>

        </div>
        <div class="upload-avatar">
            <span>Eigenes Bild verwenden</span>
            <div class="upload-btn"><span>Datei hochladen</span></div>
        </div>
    </div>
</div>