<div class="reset-password-wrapper">
  <div class="popup-wrapper">
    <div class="popup">
      <span>Passwort erfolgreich gewechselt!</span>
    </div>
  </div>
    <header>
      <div class="logo">
        <img src="../../../assets/img/da_bubble_logo.png" alt="logo" />
        <span>DABubble</span>
      </div>
    </header>
    <div class="content">
      <div class="reset-password-box">
        <div class="reset-password-top">
            <a routerLink="/login"><img src="../../../assets/img/back.png" alt="back-icon" /></a>
          <h1>Passwort zurücksetzen</h1>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <div class="input-wrapper">
            <input
            class="input-field"
            type="password"
            id="password"
            placeholder="Neues Passwort"
            formControlName="password"
            required
          />
          </div>
          <div class="input-wrapper">
            <input
            class="input-field"
            type="password"
            id="confirm-password"
            placeholder="Neues Kennwort bestätigen"
            formControlName="confirmPassword"
            required
          />
          </div>
          <div class="button-wrapper">
            <button class="button" type="submit">Passwort ändern</button>
          </div>
        </form>
      </div>
    </div>
    <footer>
      <a routerLink="/imprint">Impressum</a>
      <a routerLink="/privacy-policy">Datenschutz</a>
    </footer>
  </div>
  
