<div class="signup-wrapper">
  <header>
    <div class="logo">
      <img src="../../../assets/img/da_bubble_logo.png" alt="logo" />
      <span>DABubble</span>
    </div>
  </header>
  <div class="content">
    <div class="signup-box">
      <div class="signup-top">
        <a routerLink="/login"><img src="../../../assets/img/back.png" alt="signup-icon" /></a>
        
        <h1>Konto erstellen</h1>
        <span
          >Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
          DABubble-Konto.</span
        >
      </div>
      <form [formGroup]="signupForm">
        <div class="input-wrapper">
          <input
            class="input-field"
            type="username"
            formControlName="username"
            placeholder="Name und Nachname"
          />
          <img src="../../../assets/img/user.png" alt="user-icon" />
        </div>
        <div class="input-wrapper">
          <input
            class="input-field"
            type="email"
            formControlName="email"
            placeholder="beispielname@email.com"
          />
          <img src="../../../assets/img/email.png" alt="mail-icon" />
        </div>

        <div class="input-wrapper">
          <input
            class="input-field"
            type="password"
            formControlName="password"
            placeholder="Passwort"
          />
          <img src="../../../assets/img/password.png" alt="password-icon" />
        </div>

        <div class="input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" formControlName="accept-terms" />
          <span>Ich stimme der <a routerLink="/privacy-policy">Datenschutzerklärung</a> zu.</span>
        </div>
        <div *ngIf="firebaseErrorMessage !=''" class="error-style">
          <span	>{{ firebaseErrorMessage }}</span>
        </div>
        <div class="signup-btn-wrapper">
          <button class="continue-btn" type="submit">Weiter</button>
        </div>
      </form>
    </div>
  </div>
  <footer>
    <a routerLink="/imprint">Impressum</a>
    <a routerLink="/privacy-policy">Datenschutz</a>
  </footer>
</div>
