<div class="signup-wrapper">
  <header>
    <div class="logo">
      <img src="../../../assets/img/da_bubble_logo.png" alt="logo" />
      <span>DABubble</span>
    </div>
  </header>
  <div class="content">
    <div class="signup-box">
      <div class="signup-top">
        <a routerLink="/login"><img src="../../../assets/img/back.png" alt="signup-icon" /></a>
        
        <h1>Konto erstellen</h1>
        <span
          >Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
          DABubble-Konto.</span
        >
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="input-wrapper">
          <input
            class="input-field"
            type="username"
            formControlName="username"
            placeholder="Name und Nachname"
          />
          <img src="../../../assets/img/user.png" alt="user-icon" />
        </div>
        <span
        *ngIf="
        signupForm.get('username')?.hasError('required') &&
        (signupForm.get('username')?.dirty ||
        signupForm.get('username')?.touched)"
        class="error-style">
            Please enter your full name
        </span>
        <div class="input-wrapper">
          <input
            class="input-field"
            type="email"
            formControlName="email"
            placeholder="beispielname@email.com"
          />
          <img src="../../../assets/img/email.png" alt="mail-icon" />
        </div>
        <span
        *ngIf="
        signupForm.get('email')?.invalid  &&
        (signupForm.get('email')?.dirty ||
        signupForm.get('email')?.touched)"
        class="error-style">
            Please enter a valid email
        </span>
        <div class="input-wrapper">
          <input
            class="input-field"
            type="password"
            formControlName="password"
            placeholder="Passwort"
          />
          <img src="../../../assets/img/password.png" alt="password-icon" />
        </div>
        <span
        *ngIf="
        signupForm.get('password')?.invalid  &&
        (signupForm.get('password')?.dirty ||
        signupForm.get('password')?.touched)"
        class="error-style">
            Please enter a valid password (min 6 characters)
        </span>
        <div class="input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" formControlName="acceptTerms" />
          <span>Ich stimme der <a routerLink="/privacy-policy">Datenschutzerklärung</a> zu.</span>
        </div>
        <span
        *ngIf="
        signupForm.get('acceptTerms')?.invalid  &&
        (signupForm.get('acceptTerms')?.dirty ||
        signupForm.get('emaacceptTermsil')?.touched)"
        class="error-style">
            Please accept our privacy policy
        </span>
        <div *ngIf="firebaseErrorMessage !=''" class="error-style">
          <span	>{{ firebaseErrorMessage }}</span>
        </div>
        <div class="signup-btn-wrapper">
          <button class="continue-btn" [disabled]="!signupForm.valid">Weiter</button>
        </div>
      </form>
    </div>
  </div>
  <footer>
    <a routerLink="/imprint">Impressum</a>
    <a routerLink="/privacy-policy">Datenschutz</a>
  </footer>
</div>
