<div class="choose-avatar-wrapper">
  <header>
    <div class="logo">
      <img src="../../../assets/img/da_bubble_logo.png" alt="logo" />
      <span>DABubble</span>
    </div>
  </header>
  <div class="content">
    <div class="choose-avatar-box">
      <div class="choose-avatar-top">
        <a routerLink="/signup"
          ><img src="../../../assets/img/back.png" alt="signup-icon"
        /></a>
        <h1>Wähle deinen Avatar</h1>
      </div>
      <div class="selection-wrapper">
        <img
          class="default-profile"
          src="../../../assets/img/profile.png"
          alt="default_profile"
        />
        <div class="avatar-content">
          <h2>Frederik Beck</h2>
          <span>Aus der Liste wählen</span>
          <div class="avatar-selection">
            <img
              class="avatar"
              src="../../../assets/img/character_1.png"
              alt="avatar_1"
            />
            <img
              class="avatar"
              src="../../../assets/img/character_2.png"
              alt="avatar_2"
            />
            <img
              class="avatar"
              src="../../../assets/img/character_3.png"
              alt="avatar_3"
            />
            <img
              class="avatar"
              src="../../../assets/img/character_4.png"
              alt="avatar_4"
            />
            <img
              class="avatar"
              src="../../../assets/img/character_5.png"
              alt="avatar_5"
            />
            <img
              class="avatar"
              src="../../../assets/img/character_6.png"
              alt="avatar_6"
            />
          </div>
          <div class="upload-avatar">
            <span>eigenes Bild verwenden</span>
            <div class="upload-btn"><span>Datei hochladen</span></div>
          </div>
          <div class="continue-btn"><span>Weiter</span></div>
        </div>
      </div>
    </div>
      <footer>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacy-policy">Datenschutz</a>
      </footer>
    </div>
  </div>

