<div class="choose-avatar-wrapper">
  <div class="popup-wrapper">
    <div class="popup">
      <span>Konto erfolgreich erstellt!</span>
    </div>
  </div>
  <header>
    <div class="logo">
      <img src="../../../assets/img/da_bubble_logo.png" alt="logo" />
      <span>DABubble</span>
    </div>
  </header>
  <div class="content">
    <div class="choose-avatar-box">
      <div class="choose-avatar-top">
        <a routerLink="/signup"
          ><img src="../../../assets/img/back.png" alt="signup-icon"
        /></a>
        <h1>Wähle deinen Avatar</h1>
      </div>
      <div class="selection-wrapper">
        <img
        *ngIf="selectedAvatarUrl; else defaultProfile"
        [src]="selectedAvatarUrl"
        alt="selected_avatar"
        class="avatar-profile"
      />
      <ng-template #defaultProfile>
        <img
          class="default-profile"
          src="../../../assets/img/profile.png"
          alt="default_profile"
        />
      </ng-template>
        <div class="avatar-content">
          <h2>{{ username }}</h2>
          <span>Aus der Liste wählen</span>
          <div class="avatar-selection">
            <div class="avatar-container">
            <img
              class="avatar"
              src="../../../assets/img/character_1.png"
              alt="avatar_1"
              (click)="selectAvatar('character_1.png')" 
            />
          </div>
          <div class="avatar-container">
            <img
              class="avatar"
              src="../../../assets/img/character_2.png"
              alt="avatar_2"
              (click)="selectAvatar('character_2.png')" 
            />
          </div>
          <div class="avatar-container">
            <img
              class="avatar"
              src="../../../assets/img/character_3.png"
              alt="avatar_3"
              (click)="selectAvatar('character_3.png')" 
            />
          </div>
          <div class="avatar-container">
            <img
              class="avatar"
              src="../../../assets/img/character_4.png"
              alt="avatar_4"
              (click)="selectAvatar('character_4.png')" 
            />
          </div>
          <div class="avatar-container">
            <img
              class="avatar"
              src="../../../assets/img/character_5.png"
              alt="avatar_5"
              (click)="selectAvatar('character_5.png')" 
            />
          </div>
          <div class="avatar-container">
            <img
              class="avatar"
              src="../../../assets/img/character_6.png"
              alt="avatar_6"
              (click)="selectAvatar('character_6.png')" 
            />
          </div>
          </div>
          <div class="upload-avatar">
            <span>eigenes Bild verwenden</span>
            <div class="upload-btn"><span>Datei hochladen</span></div>
          </div>
          <div class="continue-btn" (click)="continue()"><span>Weiter</span></div>
        </div>
      </div>
    </div>
      <footer>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacy-policy">Datenschutz</a>
      </footer>
    </div>
  </div>

