$bg-color: #ECEEFE;
$white: #FFFFFF;
$black: #000000;
$purple-1: #444DF2;
$purple-2: #797EF3;
$light-purple-lines: #ADB0D9;

// below needs to be filled with correct hex-code

// $purple-3: #ECEEFE;
// $online-green: #ECEEFE;
// $pink-error: #ECEEFE;



// example usage
// background-color: $bg-color;