<div class="imprint-wrapper">
    <header>
        <div class="logo">
          <img src="../../../assets/img/da_bubble_logo.png" alt="logo" />
          <span>DABubble</span>
        </div>
      </header>
<div class="imprint-container">
<div class="imprint-content">
  <a class="back-btn" routerLink="/login"><img src="../../../assets/img/back.png" alt="signup-icon" /></a>
        
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>Timo Kempf<br />
        Alemannenstr. 8/1<br />
        89601 Schelklingen</p>
    
    <h2>Kontakt</h2>
    <p>Telefon: +49 151-56143327<br />
    E-Mail: timoke&#64;web.de</p>

    <h2>&</h2>

    <p>Benjamin Tietz<br />
        Wiehagenerstr 58<br />
        42499 H&uuml;ckeswagen</p>
        
        <h2>Kontakt</h2>
        <p>Telefon: 0163 - 266 1004<br />
        E-Mail: mail&#64;benjamin-tietz.com</p>
    
    <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
        </div>
    </div>
    <footer>
      <div class="link-container"><a routerLink="/imprint">Impressum</a></div>
      <div class="link-container"><a routerLink="/privacy-policy">Datenschutz</a></div>
    </footer>
</div>
